#jinja2: trim_blocks: True, lstrip_blocks: True
---
project_id: {{ semaphore_project_id | int }}
name: {{ semaphore_repository_name }}
git_branch: 
git_url: "/srv/ublue"
ssh_key_id: {{ semaphore_ansible_none_key_id | int }}
