#jinja2: trim_blocks: True, lstrip_blocks: True
---
type: 
name: {{ item.name }}
description:  {{ item.description }}
playbook: {{ item.playbook }}
inventory_id: {{ semaphore_inventory_id | int }}
repository_id: {{ semaphore_repository_id | int }}
environment_id: {{ semaphore_environment_id | int }}
project_id: {{ semaphore_project_id | int }}
